./.git/hooks/applypatch-msg.sample
./.git/hooks/commit-msg.sample
./.git/hooks/post-update.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/pre-commit.sample
./.git/hooks/pre-push.sample
./.git/hooks/pre-rebase.sample
./.git/hooks/pre-receive.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/update.sample
./01-getting-started/hello/.git/hooks/README.sample
./01-getting-started/hello/target/debug/deps/hello-a0a8c0b892de51ed
./01-getting-started/hello/target/debug/hello
./01-getting-started/welcome
./02-variables-and-types/alias
./02-variables-and-types/expression
./02-variables-and-types/stack-and-heap
./02-variables-and-types/type
./03-functions-and-control-structure/conditional-compilation
./03-functions-and-control-structure/functions
./03-functions-and-control-structure/if-else
./03-functions-and-control-structure/looping
./03-functions-and-control-structure/testing
./04-structuring-data-and-matching-patterns/arrays-vectors-slices
./04-structuring-data-and-matching-patterns/enums
./04-structuring-data-and-matching-patterns/matching
./04-structuring-data-and-matching-patterns/result-and-option
./04-structuring-data-and-matching-patterns/strings
./04-structuring-data-and-matching-patterns/strings-and-array
./04-structuring-data-and-matching-patterns/structs
./04-structuring-data-and-matching-patterns/tuples
./04-structuring-data-and-matching-patterns/vectors
./05-hoc-and-parameterization/01-higher-order-functions-and-closures
./05-hoc-and-parameterization/02-iterators
./05-hoc-and-parameterization/03-consumers-and-adapters
